<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>SF Eviction Feed</title>

  <!-- stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">

  <!-- vendor scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!-- application scripts -->
  <script src="js/app.js"></script>

</head>

<body>

  <!-- begin navigation -->
  <div class="main-content jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-9 text-center">
          <h1>Notice</h1>
          <p>Evictions in San Francisco</p>
        </div>
        <div class="col-md-3 text-center">
          <div class="side-row">
            <h2>Tenant's Rights</h2>
            <button class='btn btn-warning nav-tenants-rights'>Learn More</button>
          </div>
          <div class="side-row">
            <h2>Evictions</h2>
            <button class='btn btn-warning nav-eviction-feed'>Browse Feed</button>
          </div>
          <div class="side-row">
            <h2>Map of SF Evictions</h2>
            <button class='btn btn-warning nav-view-map'>View Map</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   end navigation -->

  <!-- begin tenant -->
  <div class="tenants-rights jumbotron"> 
    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <h1>Tenant's Rights</h1>
        </div>
      </div>

      <!-- tenant's rights info -->
      <div id='tenant'>
      </div>
    </section>
  </div>
  <!-- end tenant -->

  <!-- begin eviction feed -->
  <div class="eviction-feed jumbotron">
    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1 text-center">
          <h1>Eviction Feed</h1>
        </div>
      </div>

      <!-- evictions -->
      <div class='row'>
        <div id='evictions'

          <!-- eviction handlebars template -->
          <script id="evictions-template" type="text/x-handlebars-template">
            {{#each eviction}}
              <div class='col-md-4 eviction' data-eviction-id="{{eviction_id}}" style="background-image:url('https://a2.muscache.com/im/pictures/76288486/cfb45c65_original.jpg?aki_policy=x_medium')">
                <div class="link discovery-card darken-on-hover discovery-listing">
                  <div class="panel-overlay-bottom-left panel-overlay-label panel-overlay-listing-label">
                    <div class="va-middle text-center text-contrast">
                      <div class="h2">
                        <strong>{{address}}</strong>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class='col-md-12 notice' data-eviction-id="{{eviction_id}}">
                <div>
                  <span>Estoppel ID: {{eviction_id}}</span>
                  <br>
                  <span>Address: {{address}}</span>
                  <br>
                  <span>Supervisor District: {{supervisor_district}}</span>
                  <br>
                  <span>Filed On: {{filed_on}}</span>
                  <br>
                  <span>Neighborhood: {{neighborhood}}</span>
                  <br>
                  
                </div>
                <button class='btn btn-warning add-notice' data-eviction-id="{{eviction_id}}">Add Notice</button>
              </div>

            {{/each}}
          </script>
        </div>
      </div>
    </section>
  </div>
  <!-- end eviction feed -->

  <!-- begin map -->
  <div class="view-map jumbotron">
    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>SF Eviction Map</h1>
        </div>
      </div>

      <!-- map -->
      <div id='map'>
      </div>
    </section>
  </div>
  <!-- end map -->

  <!-- begin add-notice-modal: this is not visible until you call .modal() on it -->
  <div class="modal fade" tabindex="-1" role="dialog" id="add-notice-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add Notice</h4>
        </div>


        <div class="modal-body">
          <fieldset class='form-horizontal'>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="notice-title">Notice Title</label>
              <div class="col-md-4">
              <input id="notice-title" name="notice-title" type="text" placeholder="" class="form-control input-md" required>

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="username">Username</label>
              <div class="col-md-4">
              <input id="username" name="username" type="text" placeholder="" class="form-control input-md" required>

              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="comment">Comment</label>
              <div class="col-md-4">
              <textarea id="comment" name="comment" type="text" placeholder="" class="form-control input-md" cols="50" rows="10" required></textarea>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="date">Date</label>
              <div class="col-md-4">
              <input id="date" name="date" type="text" placeholder="" class="form-control input-md" required>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="image">Image</label>
              <div class="col-md-4">
              <input id="image" name="image" type="text" placeholder="" class="form-control input-md" required>
              </div>
            </div>

                        <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="pdf">PDF</label>
              <div class="col-md-4">
              <input id="pdf" name="pdf" type="text" placeholder="" class="form-control input-md">
              </div>
            </div>

          </fieldset>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" id="save-notice">Save changes</button>
        </div>


      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->


  
</body>

  <!-- handlebars -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

</html>

