<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>SF Eviction Feed</title>

  <!-- stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">

  <!-- vendor scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  <!-- application scripts -->
  <script src="js/app.js"></script>
</head>

<body>

  <!-- begin navigation -->
  <div class="main-content jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-md-9 text-center">
          <h1>Notice</h1>
          <p>Evictions in San Francisco</p>
        </div>
        <div class="col-md-3 text-center">
          <div class="side-row">
            <h2>Tenant's Rights</h2>
            <button class='btn btn-warning nav-tenants-rights'>Learn More</button>
          </div>
          <div class="side-row">
            <h2>Evictions</h2>
            <button class='btn btn-warning nav-eviction-feed'>Browse Feed</button>
          </div>
          <div class="side-row">
            <h2>Map of SF Evictions</h2>
            <button class='btn btn-warning nav-view-map'>View Map</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   end navigation -->

  <!-- begin tenant -->
  <div class="tenants-rights jumbotron"> 
    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>Tenant's Rights</h1>
        </div>
      </div>

      <!-- tenant's rights info -->
      <div id='tenant'>
      </div>
    </section>
  </div>
  <!-- end tenant -->

  <!-- begin eviction feed -->
  <div class="eviction-feed jumbotron">
    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>Eviction Feed</h1>
        </div>
      </div>

      <!-- evictions -->
      <div id='evictions'>
      </div>
    </section>
  </div>
  <!-- end eviction feed -->

  <!-- begin map -->
  <div class="view-map jumbotron">
    <section class="container">
      <div class="row">
        <div class="col-md-10 col-md-offset-1">
          <h1>SF Eviction Map</h1>
        </div>
      </div>

      <!-- map -->
      <div id='map'>
      </div>
    </section>
  </div>
  <!-- end map -->


  
</body>
</html>