<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>EvictUs</title>

  <!-- stylesheets -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">

  <!-- vendor scripts -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

  <!-- application scripts -->
  <script src="js/app.js"></script>

</head>

<body>

  <!-- begin navigation -->
  <div class="main-content large-box" img>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-1 text-center">
          <h1>EvictUs</h1><hr>
          <h2>Latin <strong><em>evictus | </em></strong>to overcome and expel, conquer, subdue, vanquish; prevail over; supplant</i></h2>
        </div>
        <div class="col-md-3 text-center sidebar">
          <div>
            <h2>Tenant's Rights</h2>
            <button class='btn btn-warning nav-tenants-rights'>Learn More</button>
          </div>
          <div>
            <h2>Evictions</h2>
            <button class='btn btn-warning nav-eviction-feed'>Browse Feed</button>
          </div>
          <div>
            <h2>Map of SF Evictions</h2>
            <button class='btn btn-warning nav-view-map'>View Map</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--   end navigation -->

  <!-- begin tenant -->
  <div class="tenants-rights large-box"> 
    <section class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-1 text-center">
          <h1>Tenant's Rights</h1><hr>
          <div class='row tenants-rights-content'>
            <div class='col-sm-12'>
              <div class='tenants-rights-links' data-eviction-id="{{eviction_id}}">
                <h2><a href="http://www.hrcsf.org/">Housing Rights Commission of San Francisco</a></h2><br>
                <h2><a href="http://www.dca.ca.gov/publications/landlordbook/catenant.pdf">California Tenants</a></h2><br>
                <h2><a href="http://sfrb.org/">San Francisco Rent Board</a></h2><br>
                <h2><a href="http://homeguides.sfgate.com/tenant-rights-san-francisco-8091.html">Tenant Rights in San Francisco</a></h2><br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id='tenant'>
      </div>
    </section>
  </div>
  <!-- end tenant -->

<!-- begin eviction feed -->
  <div class="eviction-feed large-box">
    <section class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-1 text-center">
          <h1 class'text-center'>Eviction Feed</h1>  
          <div class='row eviction-content'>
            <div class='col-sm-12'>
              <div id='evictions'>

              <!-- evictions go inside this template-->
              <script id="evictions-template" type="text/x-handlebars-template">
                {{#each eviction}}
                <hr>
                <div class='evictions-and-notices row' data-eviction-id='{{eviction_id}}'>
                  <div class='col-sm-4 text-center eviction' data-id="{{_id}}" data-eviction-id="{{eviction_id}}" style="background-image:url({{img_url}})">
                    <h2 class="link" >{{address}}</h2>
                  </div><br>
                  <div class='col-sm-4 eviction-details' data-eviction-id="{{eviction_id}}">
                    <strong>Estoppel ID: {{eviction_id}}</strong><br>
                    <strong>Address: {{address}}</strong><br>
                    <strong>Supervisor District: {{supervisor_district}}</strong><br>
                    <strong>Filed On: {{filed_on}}</strong><br>
                    <strong>Neighborhood: {{neighborhood}}</strong><br><br>
                    <button class='btn btn-warning add-notice' data-eviction-id="{{eviction_id}}">Add Notice</button>
                  </div>
                </div>
                {{/each}}
              </script>
              </div>
              <!-- evictions go inside this template-->
              
                <!-- notices go inside -->
                <script id="notices-template" type="text/x-handlebars-template">
                  <div class='col-sm-6 container' id='notices' data-id="{{_id}}">
                    <div class='notice col-sm-12' data-id="{{_id}}" data-eviction-id="{{eviction_id}}">
                      <div>
                        <h2><strong>Estoppel ID</strong> {{eviction_id}}</h2>
                        <p>{{notice_date}}</p><br>
                        <h3><strong>Title</strong> {{title}}</h3>
                        <p><strong>Comment</strong> {{comment}}</p><br>
                        <p><strong>Username</strong> {{user}}</p><br>
                        <p><strong>Event Date</strong> {{date}}</p><br><br>
                      </div>
                      <div class='col-sm-12'>
                        <div class='col-sm-6'>
                          <button class='btn btn-warning edit-notice' data-eviction-id="{{eviction_id}}" data-id="{{_id}}">Edit</button>
                        </div>
                        <div class='col-sm-6'>
                          <button class='btn btn-warning delete-notice' data-id="{{_id}}">Delete</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </script>
                <!-- notices go inside -->

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  <!-- end eviction feed -->

  <!-- begin map -->
  <div class="view-map large-box">
    <section class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-1 text-center">
          <h1>SF Eviction Map</h1><hr>
        </div>
      </div>
      <!-- map -->
      <div id='map'>
      </div>
    </section>
  </div>
  <!-- end map -->

  <!-- begin add-notice-modal: this is not visible until you call .modal() on it -->
  <div class="modal fade" tabindex="-1" role="dialog" id="add-notice-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Add Notice</h4>
        </div>
        <div class="modal-body">
          <fieldset class='form-horizontal'>
          <form class="add">

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="notice-title">Notice Title</label>
              <div class="col-md-4">
                <input id="notice-title" name="title" type="text" placeholder="" class="form-control input-md" required>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="username">Username</label>
              <div class="col-md-4">
                <input id="username" name="user" type="text" placeholder="" class="form-control input-md" required>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="comment">Comment</label>
              <div class="col-md-4">
                <textarea id="comment" name="comment" type="text" placeholder="" class="form-control input-md" cols="50" rows="10" required></textarea>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group date">
              <label class="col-md-4 control-label" for="date">Event Date</label>
              <div class="col-md-4">
                <input name="date" type="text" placeholder="" class="datepick form-control input-md" required>
              </div>
            </div>

          </form>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" id="save-notice">Save changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->

    <!-- begin update-notice-modal: this is not visible until you call .modal() on it -->
  <div class="modal fade" tabindex="-1" role="dialog" id="update-notice-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">Update Notice</h4>
        </div>
        <div class="modal-body">
          <h2><strong>Estoppel ID</strong> blank</h2>
          <p>notice date</p><br>
          <h3><strong>Title</strong> title</h3>
          <h3><strong>Username</strong> username</h3>
          <fieldset class='form-horizontal'>
          <form class="update">

            <!-- Text input-->
            <div class="form-group">
              <label class="col-md-4 control-label" for="comment">Comment</label>
              <div class="col-md-4">
                <textarea id="comment" name="comment" type="text" placeholder="" class="form-control input-md" cols="50" rows="10" required></textarea>
              </div>
            </div>

            <!-- Text input-->
            <div class="form-group date">
              <label class="col-md-4 control-label" for="date">Event Date</label>
              <div class="col-md-4">
                <input name="date" type="text" placeholder="" class="datepick form-control input-md" required>
              </div>
            </div>

          </form>
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success" id="update-notice">Update changes</button>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->  
  
</body>

  <!-- handlebars -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>

</html>

