.jumbotron {
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  color: rgb(25, 25, 76);
  background-size: cover;
  max-height: 100%;
  min-height: 435px;
  margin-bottom: 1px;
}

.row {
  background-size: cover;
  margin: 0 auto;
}

.eviction {
  padding: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  height: 300px;
  width: 300px;
  float: left;
  display: inline-block;
  vertical-align: middle;
}

.link {
  color: #FFFFFF;
  text-decoration: none;
  cursor: pointer;
  cursor: hand;
}

a:hover { 
  text-decoration: none;
  color: white;
}

.notice {
  display: none;
  padding: 30px;
  margin-bottom: 30px;
  margin-right: 30px;
  width: 600px;
  height: 300px;
  float: left;
  vertical-align: middle;
}

.btn {
    padding: 14px 24px;
    margin: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
 
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
 
.btn-primary {
    background: #0099cc;
    color: #ffffff;
}
 
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #33a6cc;
}
 
.btn-primary:active, .btn-primary.active {
    background: #007299;
    box-shadow: none;
}